.grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: var(--static-space-m, 1rem);
    width: 100%;
    margin-bottom: 2.5rem;
    padding: 0 var(--static-space-l, 1.5rem);

    @media (max-width: 800px) {
        grid-template-columns: minmax(0, 1fr);
    }
}

.hover {
    transition: var(--transition-micro-medium);

    &:hover {
        transform: translateX(var(--static-space-8));

        .indicator {
            transform: rotate(0);
        }
    }
}

.indicator {
    transform: rotate(-90deg);
    left: -2rem;
    transition: var(--transition-micro-medium);
}